src/dk.gov.oiosi.resource/Resources/Schemas/OIOXML v0.7/CoreComponentTypesDk.xsd

<?xml version="1.0" encoding="UTF-8"?><schema targetNamespace="http://rep.oio.dk/ubl/xml/schemas/0p71/common/" version="2.1" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:com="http://rep.oio.dk/ubl/xml/schemas/0p71/common/">
	
	<attributeGroup name="commonAttributes">
		<attribute name="UID" type="ID" use="optional"></attribute>
		<attribute name="UIDRef" type="IDREF" use="optional"></attribute>
		<attribute name="UIDRefs" type="IDREFS" use="optional"></attribute>
		<attribute name="language" type="language" use="optional" default="da"></attribute>
	</attributeGroup>
	
	<attributeGroup name="commonSchemeAttributes">
<attribute name="schemeID" type="string" use="optional"></attribute>
				<attribute name="schemeAgencyID" type="string" use="optional"></attribute>
				<attribute name="schemeVersionID" type="string" use="optional"></attribute>
				<attribute name="schemeAgencySchemeID" type="string" use="optional"></attribute>
				<attribute name="schemeAgencySchemeAgencyID" type="string" use="optional"></attribute>
				<attribute name="schemeDataURI" type="anyURI" use="optional"></attribute>
				<attribute name="schemeURI" type="anyURI" use="optional"></attribute>
</attributeGroup>
	
	
	
	<complexType name="AmountType" id="CCT000105">
		<simpleContent>
			<extension base="decimal">
				<attribute name="currencyID" type="string" use="required" id="CCS000107"></attribute>
				<attribute name="codeListVersionID" type="string" use="optional" default="2002"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="BinaryObjectType">
		<simpleContent>
			<extension base="base64Binary">
				<attribute name="mimeCode" type="string" use="optional"></attribute>
				<attribute name="charsetCode" type="string" use="optional"></attribute>
				<attribute name="filename" type="string" use="optional"></attribute>
				<attribute name="URI" type="anyURI" use="optional"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="CodeType" id="CCT000089">
		<simpleContent>
			<extension base="string">
				<attribute name="listID" type="string" use="optional"></attribute>
				<attribute name="listAgencyID" type="string" use="optional"></attribute>
				<attribute name="listVersionID" type="string" use="optional"></attribute>
				<attribute name="listAgencySchemeID" type="string" use="optional"></attribute>
				<attribute name="listAgencySchemeAgencyID" type="string" use="optional"></attribute>
				<attribute name="name" type="string" use="optional"></attribute>
				<attribute name="languageID" type="language" use="optional"></attribute>
				<attribute name="listURI" type="anyURI" use="optional"></attribute>
				<attribute name="listSchemeURI" type="anyURI" use="optional"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="TaxCodeType" id="CCT006089">
		<simpleContent>
			<extension base="com:CodeType">
				
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="DateTimeType" id="CCT000066">
		<simpleContent>
			<extension base="dateTime">
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="DateType" id="CCD000661">
		<simpleContent>
			<extension base="date">
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="TimeType" id="CCD000662">
		<simpleContent>
			<extension base="time">
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="IdentifierType" id="CCT000101">
		<simpleContent>
			<extension base="string">
				<attributeGroup ref="com:commonSchemeAttributes"></attributeGroup> 
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>

<complexType name="RateCategoryCodeIDType" id="CCT000606">
		<simpleContent>
			<extension base="com:IdentifierType">
				
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="TypeCodeType" id="CCT006101">
		<simpleContent>
			<extension base="nonNegativeInteger">
				<attributeGroup ref="com:commonSchemeAttributes"></attributeGroup>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>

			</extension>
		</simpleContent>
	</complexType>


<complexType name="IdentifierPaymentType" id="CCT000604">
		<simpleContent>
			<restriction base="com:TypeCodeType">
<maxInclusive value="9999999999999999"></maxInclusive>
				<attributeGroup ref="com:commonSchemeAttributes"></attributeGroup> 
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</restriction>
		</simpleContent>
	</complexType>
<!-- too bad about the following, but I had to solve a problem quick -->
<complexType name="TypeCode1type">
		<simpleContent>
			<extension base="string">
				<attributeGroup ref="com:commonSchemeAttributes"></attributeGroup> 
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>

<complexType name="TypeCodeIDType" id="CCT006102">
		<simpleContent>
			<restriction base="com:TypeCode1type">
<enumeration value="null"></enumeration>
<enumeration value="01"></enumeration>
<enumeration value="04"></enumeration>
<enumeration value="15"></enumeration>
<enumeration value="71"></enumeration>
<enumeration value="73"></enumeration>
<enumeration value="75"></enumeration>
					<attributeGroup ref="com:commonSchemeAttributes"></attributeGroup>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>

	</restriction>
		</simpleContent>
	</complexType>

<complexType name="taxIdentifierType">
<simpleContent>
<extension base="com:IdentifierType"></extension>
</simpleContent>
</complexType>
	

<complexType name="ReferenceIdentifierType" id="CCT000400">
		<simpleContent>
			<extension base="nonNegativeInteger">
				<attributeGroup ref="com:commonSchemeAttributes"></attributeGroup>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>


	<complexType name="IndicatorType" id="CCT000180">
		<simpleContent>
			<extension base="boolean">
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="MeasureType" id="CCT000152">
		<simpleContent>
			<extension base="decimal">
				<attribute name="unitCode" type="string" use="required" id="CCS000154"></attribute>
				<attribute name="unitCodeListVersionID" type="string" use="optional" default="2002"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="NumericType" id="CCT000204">
		<simpleContent>
			<extension base="decimal">
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="PercentType">
		<simpleContent>
			<extension base="decimal">
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="QuantityType" id="CCT000108">
		<simpleContent>
			<extension base="decimal">
				<attribute name="unitCode" type="string" use="required" id="CCS000109"></attribute>
				<attribute name="unitCodeListID" type="normalizedString" use="optional" default="Rec20" id="CCS000111"></attribute>
				<attribute name="unitCodeListAgencyID" type="normalizedString" use="optional" default="UN/CEFACT" id="CCS000112"></attribute>
				<attribute name="unitCodeListVersionID" type="normalizedString" use="optional" default="2002"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="TextType" id="CCT000090">
		<simpleContent>
			<extension base="string">
				<attribute name="languageID" type="language" use="optional" default="da" id="CCS000075"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
<complexType name="emailType">
<simpleContent>
<restriction base="com:TextType">
	<attribute name="languageID" type="language" use="optional" default="da" id="CCS005076"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
</restriction>
</simpleContent>
</complexType>
<complexType name="postalZoneType">
<simpleContent>
<restriction base="com:TextType">
	<attribute name="languageID" type="language" use="optional" default="da" id="CCS005077"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
</restriction>
</simpleContent>
</complexType>
	

<complexType name="baseDateDateTimeType">
		<simpleContent>
			<extension base="com:baseUnionDateTimeType">
				<attributeGroup ref="com:commonAttributes"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="baseUnionDateTimeType">
		<union memberTypes="date dateTime"/>
	</simpleType>

	<complexType name="NameType" id="CCD000901">
		<simpleContent>
			<extension base="string">
				<attribute name="languageID" type="language" use="optional" default="da"></attribute>
				<attributeGroup ref="com:commonAttributes"></attributeGroup>
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="ElectronicAddressType">
		<simpleContent>
			<extension base="anyURI">
				<attribute name="protocolID" type="string" use="required"></attribute>
				<attribute name="languageID" type="language" use="optional"></attribute>
			</extension>
		</simpleContent>
	</complexType>
</schema>